/* Import Poppins from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.groups-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  font-family: 'Roboto', sans-serif; 
  padding: 0; 

}

.notes-list::-webkit-scrollbar {
  width: 10px;
}

.notes-list::-webkit-scrollbar-corner {
  background-color: #f5f5f5;
}

.notes-list::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 20px;
}

.notes-list::-webkit-scrollbar-track {
  border-radius: 20px;
  height: 20px;
  background-color: #898989;
}

/* Each group item */
.group-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s;
  font-size: 16px;
  font-weight: 500; 
}

.group-item:hover {
  background: #f5f5f5;
}

/* Avatar circle */
.group-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 500;      
  font-size: 14px;
  text-transform: uppercase;
}
