@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.groups-list {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  overflow-y: auto;
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

.groups-list::-webkit-scrollbar {
  width: 6px;
}

.groups-list::-webkit-scrollbar-corner {
  background-color: #d8d3d3;
}

.groups-list::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 20px;
  min-height: 20px;
  max-height: 40px;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.12);
}

.groups-list::-webkit-scrollbar-track {
  border-radius: 20px;
  height: 10px;
  background-color: rgb(218, 214, 214);
}

.groups-list::after {
  content: "";
  display: block;
  height: 10px;
  width: 100%;
  background: transparent;
}

.group-item {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.2s;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.group-item:hover {
  background: #f5f5f5;
}

.group-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  white-space: nowrap;
  text-transform: uppercase;
}

.group-name {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
}

/* ✅ Mobile view */
@media screen and (max-width: 768px) {
  .groups-list {
    height: calc(100vh - 60px);
    padding: 10px 16px;
  }

  .group-item {
    padding: 12px;
    gap: 14px;
  }

  .group-name {
    font-size: 20px;
    font-weight: 600;
  }
}
